page-event-detail {

	#toolbar{
		// color:#0a0f19;
	}
			.bg, .dcard{
			background-color:#0c131f;
			height: 100%;
			//color:#0c131f;
			background-size: cover;
			/*filter: blur(5px);*/
			// background-position: center center;
		}
				.main-content{
			/*width: 100%;*/
			/*height: 700px;*/
			// background-color: none;
			   position: relative;
    text-align: center;
  	// box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color:#0c131f;
		}
    .action-sheets-basic-page{
      .ion-md-trash {
      color: #ED4248;
    }
      .ion-ios-trash {
      color: #ED4248;
    }
    }
	ion-card {
    position: relative;
    text-align: center;
    background-color:#0c131f;
    background-size: cover;
  	box-shadow: none;
  	margin:0px;
  	width: 100%;

  }
  ion-row{

    background: transparent;
  }
  ion-col{
    background-color:#0c131f;
    background-size: cover;
    color: #efefef;
    font-size: 1em;

	
  }
  #titleBloc{
  	text-align: left;
  	width: 80%;
  	padding-top: 0px;
  	position: absolute;
  	background: none;
  	word-wrap:break-word;
  	// color: #eee;
  	
  }
  #headerEv{
  	padding-top: 4px;
  	padding-left: 4px;
  	min-height: 88px;
  	display: block;
  	width: 100%;
  	word-wrap:break-word;
  	position: relative;
  	background-color: #008080;

  }
  #meteo{
  	background: none;
  	// color: black;
  	width: 20%;
  	right: 0%;
  	font-size: 2.0em;
  	position: absolute;
  }
  ion-item{
  }
  #description, #author{
  	color: #efefef;
  	background-color:#0c131f;
  	
  }
  #editBtn{
  	border-color: #f4ea0d;
	color:#e4ea0d;
  }
  #deleteBtn{
  	border-color: #CC000d;
	color:#CC000d;
  }
  .footer{
  	background-color: #0c131f;
  	padding: 15px;
  }
#qrBtn{
	background: none;
}
  .buttons{
  	background-color: #0c131f;
  }


}
