
<ion-header id="toolbar">

  <ion-toolbar id="toolbar" color="iDark">
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()" color="iTeal">
        <ion-icon name="close" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Event Detail</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="iTeal">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content color="iDark" class="bg">
<div class="bg">
 

<div class="main-content">
<!-- <ion-card class="dcard"> -->
<div id="headerEv">
  
  <div id="titleBloc">
    <h1>{{event.title}}</h1>
  </div>
  <div id="meteo">
    <ion-icon name="{{meteoIcon | async}}"></ion-icon>
    <div class="temperature">{{meteoTemperature | async}}<span class="celsius" style="display:inline" aria-label="°Celsius">°C</span></div>
  </div>
</div>
 
<ion-row>
<ion-col col-6>
    <div><ion-icon name="pin"></ion-icon></div><br>
    <div>MRR 202 </div>
  </ion-col>
  <ion-col col-6>
    <div><ion-icon name="time"></ion-icon></div ><br>
    <div>{{getEventDate()}}</div>
  </ion-col>
</ion-row>
<ion-item id="description" no-lines text-wrap *ngIf="event.description">
  <ion-icon name="quote" item-start></ion-icon>
  {{event.description}}
</ion-item>
<ion-item id="author" no-lines text-wrap *ngIf="event.user">
   <ion-avatar item-start>
      <img [src]="event.user.photoURL" >
    </ion-avatar>
  {{event.user.displayName}}
</ion-item>
<button ion-button outline icon-left round id="editBtn" *ngIf="can" (click)="editEvent()">
 <ion-icon name="md-create"></ion-icon>Edit</button>
 <button ion-button outline icon-left round id="deleteBtn" *ngIf="can" (click)="deleteEvent()">
 <ion-icon name="trash"></ion-icon>Supprimer</button>



 
</div>
</div>
</ion-content>
<ion-footer class="footerClass">
    
            <ion-buttons end>
            <button ion-button outline round id="qrBtn" (click)="qrCode()" color="iTeal"><ion-icon name="md-barcode"></ion-icon></button>
            </ion-buttons>
</ion-footer> 