<ion-header >
  <ion-navbar color="iDark">
    <ion-buttons left>
      <button color="black" ion-button icon-only (click)="goCodeScanner()">
        <ion-icon name="paper-plane"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
      <ion-buttons end right>
      <button color="black" id="msg" ion-button icon-only (click)="goMessages()">
        <ion-icon name="paper-plane"></ion-icon>
        <ion-badge id="msg-badge">{{newMsgCount > 0 ? newMsgCount : '0'}}</ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>

      <ion-row>
        <ion-col col-2>
          <ion-thumbnail item-left (click)="goToMyProfile()">
            <img [src]="userDetails.photoURL">
          </ion-thumbnail>
        </ion-col>

        <ion-col col-9 center text-center>
          <ion-note (click)="newDocument()">
            Vous avez quelque chos a partager?
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          <button ion-button icon-left clear small>
            <ion-icon name="camera"></ion-icon>
            <button ion-button icon-left clear>Photo</button>
          </button>
        </ion-col>
        <ion-col col-4>
          <button (click)="newFile()" ion-button icon-left clear small> 
            <ion-icon name="document"></ion-icon>
            Document 
          </button>
        </ion-col>
               <ion-col col-4>
          <button (click)="newEvent()" ion-button icon-left clear small> 
            <ion-icon name="md-calendar"></ion-icon>
            Evenement 
          </button>

        </ion-col>

      </ion-row>

    </ion-card-content>
  </ion-card>
  <hr no-margin no-padding>
  <div (swipe)="swipePage($event)">

    <!-- Cards -->
    <ion-card class="dcard" *ngFor="let item of dataSet">
      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-avatar item-left>
              <img [src]="item.user.photoURL">
            </ion-avatar>
            <h2 style="font-weight: bold">item.user.displayName</h2>
            <p>{{item.date | amTimeAgo}}</p>
          </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover(item.$key)">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-card-content>
        <p *ngIf="item.text">{{item.text}}</p>
        <ion-item id="fileDiv" *ngIf="item.hasFile">
          <div id="preview">
            .{{item.extension}}
          </div>
          <div id="name">
            <h3>{{item.name}}</h3>
            <p>{{item.size}}</p>
          </div>
        </ion-item>
        <p class="tags">
        <ion-badge class="tag" *ngFor="let tag of item.tags">{{toUpper(tag.display)}}</ion-badge> 
        <!-- <ion-badge class="tag" >TAG2</ion-badge>  -->
        <!-- <ion-badge class="tag" >TAG4</ion-badge>  -->
        </p>
          <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{item.merci}} Merci</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="eye"></ion-icon>
        <div>{{item.views}} vues</div>
      </button>
    </ion-col>
    
  </ion-row>
        
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let item of dataSet" no-padding padding-bottom class="card">

      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-avatar item-left>
              <img src="{{item.profile_image}}">
            </ion-avatar>
            <h2 style="font-weight: bold">{{item.first_name}} {{item.last_name}}</h2>
            <p>{{convertTime(item.created_at) | amTimeAgo}}</p>

          </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      

      <img src="{{item.thumbnail}}" (click)="viewFile(item.link, 'item.type')">

      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon> Merci
        </button>

        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="eye"></ion-icon>Vues
        </button>
      </p>
      <hr>

      <ion-card-content>
        <p class="like-content">
        <!-- <ion-badge class="tag" *ngFor="let tag of item.tags">{{toUpper(tag.tag)}}</ion-badge>  -->
        </p>
        
      </ion-card-content>

    </ion-card>
        <ion-card no-padding padding-bottom class="card">

      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-avatar item-left>
              <img src="http://malimoncton.ga/storage/membre/youba.jpg">
            </ion-avatar>
            <h2 style="font-weight: bold">Youba Smk</h2>
            <p>il ya 2h</p>
            
          </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      

      <img src="http://miaafho.ml/doc/word.png" (click)="viewFile('http://cdi.x10.mx/api/download/doc.docx', 'vnd.openxmlformats-officedocument.wordprocessingml.document')">

      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon> Merci
        </button>
        
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="eye"></ion-icon> 13
        </button>
      </p>
      <hr>

      <ion-card-content>
        <p class="like-content"><ion-badge>PHYS1373</ion-badge> <ion-badge>HIVER2017</ion-badge> <ion-badge>WORD</ion-badge> <ion-badge>FINAL</ion-badge></p>
      </ion-card-content>

    </ion-card>
        <ion-card no-padding padding-bottom class="card">

      <ion-row>
        <ion-col col-10>
          <ion-item>
            <ion-avatar item-left>
              <img src="http://malimoncton.ga/storage/tommy.jpg">
            </ion-avatar>
            <h2 style="font-weight: bold">Tommy Bia</h2>
            <p>il ya 3h</p>
            
          </ion-item>
        </ion-col >
        <ion-col col-2>
          <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px" (click)="presentPostPopover()">
            <ion-icon name="more"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      

      <img src="http://miaafho.ml/doc/pdf.png" (click)="viewFile('http://miaafho.ml/doc/doc.pdf', 'pdf')">

      <p no-margin no-padding>
        <button clear ion-button icon-only (click)="likeButton()" class="like-btn">
          <ion-icon no-padding [name]="like_btn.icon_name" color="{{ like_btn.color }}" class="icon-space"></ion-icon> Merci
        </button>
        
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right">
          <ion-icon name="eye"></ion-icon>44
        </button>
      </p>
      <hr>

      <ion-card-content>
        <p class="like-content"><ion-badge>MATH2653</ion-badge> <ion-badge>HIVER2017</ion-badge> <ion-badge>PDF</ion-badge> <ion-badge>INTRA</ion-badge></p>
      </ion-card-content>

    </ion-card>

  </div>
</ion-content>
