
page-new-event {

	.header{
		height:50px;
		background-color: #0a0f19;
		position: relative;
		padding-bottom: 10px;
	}
	.closeBtn{
		position: absolute;
		left: 45%;
		height: 100%;
		width: 15%;
		bottom: -50%;
		background-color: #4a0f19;
		// overflow: visible;
		z-index: 5;
		color: #f4ea0d;
		border-radius: 50%;
		border: 5px none solid;
		font-size: 2.0em;
	}

	#toolbar{
		color: #0a0f19;
	}
			.bg{
			//background-color:#2f4078;
			 background-color:#0c131f;
			height: 100%;
			color:#0c131f;
			background-size: cover;
			padding-top: 10px;
		    filter: blur(0.3px);
			background-position: center center;
		}
		.content{
			background-color:#0c131f;
		}
			.main-content{
			/*width: 100%;*/
			/*height: 700px;*/
			background-color: none;
		}
.group-header{
			border: none;
			//background-color:#17233a;
			background: none;
			color:#29c7f4;
	
}
.igroup{
	border: none;
}

		#pp{
			border-radius: 0%;
			border: 4px solid #2a64d8;
			height: 100px;
			width: 100px;
			z-index: 10;
			margin-top: 100px;
			position: relative;
			left: 50%;
			/*margin-right: -50%;*/
			transform: translate(-50%, -50%);
			/*box-shadow: -6px 15px 81px 3px white;*/

		}
		.footer{
			height:50px;
			background-color: #35c5e7;
			padding-top: 10px;
		}
		.footerBtn{
			background-color: #35c5e7;
			color: #dcf1f9;
			width: 100%;
			font-size: 2.0em;
		}

		.date, .heure{

		display: block;
		padding-left: 0px!important;
		margin-left: 0px;
		text-align: left!important;
		}
		.date{
			position: relative;
			left: 0%
		}
  #icon-left, #icon-right{
			
			z-index: 10;
			margin-top: 100px;
			position: relative;
			background-color:red;
			transform: translateY( -50%);
			height: 60px;
			width: 50px;
			font-size:30px;
			border-radius: 100%;
			padding-top:11px;
			text-align: center;
			overflow: visible;
  }
  #icon-left{
	background-color:#2950d5;
	left:-10%;
  }
   #icon-right{
	background-color:#3ec9e6;
	left:10%;
  }
  .auteur{
	color:#354e7c;
	text-align:center;
	
  }
  
  .dcard{
  background-color:#131d30;

  
  }
  .tagText{
	font-size:24px;
    margin:5px;
    color: #fff!important;;
  }
   .tag{
    display: inline-block;
    margin: 0 5px 5px 0;
    background: #028482;
  }
  .dernierItem{
  		border: none;
  		background: none;
		// background-color:#17233a;
		color:#dceff4;
		// color:#a4b2cd;
  }
        	#newBtn{
		background-color: transparent;
		color:#50b08b;
		border-radius: 100px;
		border-color:white;
		border:1px solid #a4b2cd;
		margin-top:25px;
		//height: 35px;
		font-size: 14px;
		position: relative;
		
	}
  .pinBtn{
  	background: none;
  	color:#f4ea0d;
  }
  
  	#viewBtn{
		background-color: transparent;
		color:white;
		border-radius: 100px;
		border-color:white;
		border:1px solid white;
		margin-top:25px;
		height: 35px;
		font-size: 16px;
		position: relative;
		
	}

}
